<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title text-danger">How to Use Recipe Roulette</h1>
    </div>
    <div class="card-body">
      <h2>Step 1: Authenticate</h2>
      <p>Sign in by creating your login with your email and a password (minimum 6 characters). Then log in to access your account.</p>

      <h2>Step 2: Fetch Data</h2>
      <p>Click on <strong>Manage -> Fetch Data</strong> to download a selection of recipes from the database to your account.</p>
      <p>Allowe only for Admin: Click on <strong>Manage -> Save Data</strong> to save new data into the DB.</p>

      <h2>Step 3: Manage Recipes</h2>
      <ul>
        <li>Each recipe includes its own ingredients.</li>
        <li>You can add new recipes with ingredients and their quantities.</li>
        <li>Edit or delete any recipe or ingredient as needed.</li>
      </ul>

      <h2>Step 4: Generate a Shopping List</h2>
      <p>To create a shopping list for your recipes:</p>
      <ul>
        <li>Select a recipe.</li>
        <li>Click <strong>Manage Recipe -> To Shopping List</strong>.</li>
        <li>All ingredients and their quantities will be added to your shopping list.</li>
      </ul>

      <h2>Step 5: Logout/Login</h2>
      <p>You can still see your fetched/added/edited Recipes and  yourShopping list full of your customized ingredients</p>

      <p class="mt-4">Enjoy cooking with Recipe Roulette!</p>
    </div>
  </div>
</div>
